:root {
    --c_1: #A6A0B2;
    --c_2: #FFD0CA;
    --c_3: #FFF9D1;
    --c_4: #AECCB3;
    --c_5: #9CB0B2;

    --primary: #261F47;
    --secondary: #514983;

    --principal: 'Ubuntu';
}


* {
    color: white;
    font-family: var(--principal);
}
h1 {
    font-weight: 500;
    text-align: center;
}

body {
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    display: grid;
    grid-template-columns: 2fr 8fr;
    width: 100%;
}
nav {
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
main {
    background-color: var(--primary);
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.card {
    width: 280px;
    height: 200px;
    background-color: var(--c_3);
    padding: 20px;
    border-radius: 10px;
}
.card h3, .card p {
    color: var(--primary);
    margin: 0px;
}
.card h3 {
    margin-bottom: 20px;
}
#search {
    border-radius: 35px;
    padding: 10px;
    border: none;
    background-color: var(--primary);
    margin: 0px 20px;
}
#search:focus {
    border: none;
    outline: none;
}
#search::placeholder {
    font-family: var(--principal);
    color: rgba(255, 255, 255, 0.6);
}
#btn_newNote {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    border: none;
    background-color: rgb(255, 255, 255);
    color: var(--primary);
    font-weight: bold;
    font-size: 16px;
    transition: 600ms;
}
#btn_newNote:hover {
    transition: 600ms;
    transform: scale(1.05);
}
.category {
    display: flex;
    flex-direction: column;
}
.category div {
    transition: 600ms;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-items: stretch;
}
.category div:hover {
    transition: 600ms;
    background-color: var(--primary);
}
.category div span {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.category div span:last-child {
    justify-content: flex-end;
}
.tag {
    padding: 0px 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
}
.tag button {
    height: 20px;
    border-radius: 10px;
    border: none;
    transition: 600ms;
}
.tag button:hover {
    transition: 600ms;
    transform: scale(0.9);
}
button[onclick="mainPost('c1')"] {background-color: var(--c_1);}
button[onclick="mainPost('c2')"] {background-color: var(--c_2);}
button[onclick="mainPost('c3')"] {background-color: var(--c_3);}
button[onclick="mainPost('c4')"] {background-color: var(--c_4);}
button[onclick="mainPost('c5')"] {background-color: var(--c_5);}

.noteAlert {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: none;
}
.noteAlert-dark {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.noteAlert-form {
    width: 600px;
    height: 300px;
    background-color: var(--primary);
    padding: 30px 30px 50px 30px;
    border-radius: 20px;
}
.noteAlert-form-exit {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
}
.noteAlert-form-exit i {
    transition: 600ms ease-in;
}
.noteAlert-form-exit i:hover {
    transition: 600ms ease-out;
    transform: rotate(180deg);
}
.noteAlert-form div:last-child {
    padding: 20px;
    display: grid;
    grid-template-rows: 25px 150px;
    row-gap: 20px;
}
.noteAlert-form div:last-child input, .noteAlert-form div:last-child textarea {
    border-radius: 20px;
    padding: 10px;
    background-color: var(--secondary);
    border: none;
}
.noteAlert-form div:last-child input:focus, .noteAlert-form div:last-child textarea:focus {
    outline: none;
}
.noteAlert-form div:last-child input::placeholder, .noteAlert-form div:last-child textarea::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
.noteAlert-form div:last-child button {
    background-color: white;
    color: var(--primary);
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    transition: 600ms;
}
.noteAlert-form div:last-child button:hover {
    transition: 600ms;
    transform: scale(0.95);
}
.noteAlert-form div:last-child select {
    width: 100%;
    border-radius: 20px;
    color: var(--primary);
    font-weight: bold;
}
.noteAlert-form div:last-child select option {
    color: var(--primary);
    font-weight: bold;
}
.c1 {background-color: var(--c_1);}
.c2 {background-color: var(--c_2);}
.c3 {background-color: var(--c_3);}
.c4 {background-color: var(--c_4);}
.c5 {background-color: var(--c_5);}