@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap'); /* Fredoka */

:root {
    --pink: #ff55bb;
    --orange: #FFD3A3;
    --yellow: #FCFFB2;
    --cyan: #B6EAFA;
    --font: 'Fredoka';
}
body {
    background-color:rgba(255, 85, 187,0.5);
    padding: 0;
    margin: 0;
}

/* GLOBAL */
.center {
    display: flex;
    justify-content: center;
}

.new-game-pop-up {
    z-index: 98;
    position: fixed;
    background-color: var(--pink);
    left: 10%;
    right: 10%;
    top: 30%;
    bottom: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
    align-items: center;
    border-radius: 20px;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px;
}
.new-game-pop-up-title {
    font-family: var(--font);
    color: var(--yellow);
    text-shadow: rgba(0, 0, 0, 0.6) 2px 2px 1px;
    text-align: center;
}
.new-game-pop-up-container-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.new-game-option {
    background-color: var(--yellow);
    border-radius: 10px;
    padding: 20px;
    font-size: 22px;
    border: none;
    font-family: var(--font);
    font-weight: bold;
    color: var(--pink);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
}

/* HELP SCREEN */

.help-pop-up {
    position: fixed;
    top: 0px;
    left: 50px;
    height: 30px;
    width: 70px;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px 20px;
    color: white;
    font-family: var(--font);
    border: 2px solid white;
    border-top: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0px 0px 10px 10px;
}
.help-pop-up img {
    height: 20px;
    width: auto;
    filter: invert(1);
}
.help-pop-up-on {
    position: fixed;
    top: 40%;
    bottom: 40%;
    right: 20%;
    left: 20%;
    background-color: var(--pink);
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
    display: none;
}
.rule-circle {
    margin: 10px 0px;
    color: white;
    font-family: var(--font);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.rule-circle div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.circle-red {background-color: red;}
.circle-green {background-color: green;}
.circle-orange {background-color: orange;}
.rule-button {
    background-color: var(--yellow);
    border: none;
    padding: 10px;
    font-family: var(--font);
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* MAIN */

.main-screen {
    z-index: 96;
    position: fixed;
    top: 0px;bottom: 0px;left: 0px;right: 0px;
}
.main-top, .main-bottom {
    height: 40%;
    background-color: var(--pink);
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-top {
    border-radius: 0px 0px 20px 20px;
}
.main-top-container {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 75px 75px 75px;
}
.attemps {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: var(--orange);
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    font-family: var(--font);
    color: rgba(0, 0, 0, 0.6);
    border-radius: 10px 0px 0px 10px;
}
.btn-container {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    background-color: var(--orange);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 0px 20px 0px 0px;
}
#new-game {
    background-color: var(--yellow);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 10px;
    font-family: var(--font);
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: bold;
}
#new-game img {
    opacity: 0.6;
}
#new-game:hover {
    animation: pulse 1s ease-in;
}
.numbers-container {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    background-color: var(--orange);
    border-radius: 0px 0px 20px 20px;
    padding: 20px;
    margin-bottom: 10px;
}
.numbers-container-title {
    text-align: center;
    color: var(--yellow);
    font-size: 28px;
    margin: 0px;
    font-family: var(--font);
    text-shadow: #000 2px 2px 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.last-attemp-title-container {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    background-color: var(--orange);
    border-radius: 20px 20px 0px 0px;
    margin-top: 10px;
    padding: 20px;
}
.last-attemp-value-container {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--orange);
    border-radius: 0px 20px 20px 20px;
}
.last-attemp-title {
    text-align: center;
    color: var(--yellow);
    font-size: 16px;
    margin: 0px;
    font-family: var(--font);
    text-shadow: #000 2px 2px 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.last-attemp-value {
    border-radius: 10px;
    background-color: var(--yellow);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    font-size: 48px;
    height: 50px;
    width: 50px;
}
.main-center {
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    gap: 20px;
}
.user-input-box {
    height: 50px;
    width: 50px;
    transform: scale(1.3);
    border-radius: 10px;
    background-color: var(--yellow);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    font-size: 48px;
}
.main-bottom {
    border-radius: 20px 20px 0px 0px;
}
.main-bottom-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(30px, 70px));
    grid-template-rows: repeat(3, minmax(30px, 70px));
    column-gap: 5px;
    row-gap: 5px;
}
.key {
    background-color: var(--yellow);
    border: none;
    border-radius: 10px;
    font-family: var(--font);
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    font-size: 28px;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 5px;
}
.key:hover {
    animation: 500ms keyPress linear;
}
.key img {
    transform: scale(2);
}
.main-bottom-container button[onclick="key(1)"] {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.main-bottom-container button[onclick="key(2)"] {
    grid-column: 2 /3;
    grid-row: 3 / 4;
}
.main-bottom-container button[onclick="key(3)"] {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
.main-bottom-container button[onclick="key(4)"] {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.main-bottom-container button[onclick="key(5)"] {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.main-bottom-container button[onclick="key(6)"] {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.main-bottom-container button[onclick="key('reset')"] {
    grid-row: 1 / 2;
    grid-column: 4 / 6;
}
.main-bottom-container button[onclick="key('send')"] {
    grid-row: 2 / 4;
    grid-column: 4 / 6;
}

/* WIN */

.win-screen {
    position: fixed;
    top: 0px;left: 0px;right: 0px;bottom: 0px;
    display: none;
    z-index: 99;
}
.loss-screen {
    position: fixed;
    top: 0px;left: 0px;right: 0px;bottom: 0px;
    z-index: 99;
    display: none;
}
.win-top {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pink);
}
.win-top-title, .win-center-title {
    font-size: 38px;
    color: var(--yellow);
    text-shadow: rgba(0, 0, 0, 0.6) 2px 2px 2px;
    font-family: var(--font);
    font-weight: bold;
    text-align: center;
    margin: 0px;
}
.win-center {
    margin: 0px;
    background-color: var(--pink);
    padding: 0px 0px 50px 0px;
    border-radius: 0px 0px 20px 20px;
}
.win-center-img {
    height: 150px;
    width: auto;
}
.win-center-attemps {
    text-align: center;
    font-family: var(--font);
    color: var(--yellow);
    text-shadow: rgba(0, 0, 0, 0.6) 2px 2px 2px;
    font-weight:bold;
    font-size: 24px;
    margin: 0px;
}
.win-center-container-values {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
.win-center-value {
    font-family: var(--font);
    font-size: 36px;
    color: rgba(0, 0, 0, 0.6);
    background-color: var(--yellow);
    height: 75px;
    width: 75px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loss-center-value {
    font-family: var(--font);
    font-size: 36px;
    color: rgba(0, 0, 0, 0.6);
    background-color: var(--yellow);
    height: 75px;
    width: 75px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.win-bottom {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.new-game-win {
    margin-top: 50px;
    background-color: var(--yellow);
    font-size: 28px;
    font-weight: bold;
    font-family: var(--font);
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    padding:20px;
    border: none;
}
.new-game-win:hover {
    animation: pulse 600ms linear;
}
.new-game-win img {
    height: 28px;
    width: auto;
}

/* ANIMATIONS */

@keyframes keyPress {
    0% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.95);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    75% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes top {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes main-off {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}
@keyframes bottom {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}
@keyframes main-on {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
@keyframes pop-up-on {
    0% {
        transform: scale(0.8);
        opacity: 0%;
    }
    100% {
        transform: scale(1);
        opacity: 100%;
    }
}
@keyframes pop-up-off {
    0% {
        transform: scale(1);
        opacity: 100%;
    }
    100% {
        transform: scale(0.8);
        opacity: 0%;
    }
}